<footer>
    <div class="content">
        <div class="container about-container">
            <div class="footer-nav">
                <ul>
                    <li><a href="#">О БРЕНДЕ</a></li>
                    <li><a href="#">КАК ЗАКАЗАТЬ</a></li>
                    <li><a href="#">КАК ОПЛАТИТЬ</a></li>
                    <li><a href="#">СОТРУДНИЧЕСТВО</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="logo">
                <div class="logo__img">
                    <a href="#"><img src="img/png/logo.png" alt=""></a>
                </div>
                <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                    <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                </div>
            </div>
            <div class="social">
                <div class="social__icons">
                    <a href="" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="" class="inst"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="social__phone">
                    +38 068 28 33 150
                </div>
                <div class="social__copyright">
                    &#169; 2016 PELICAN. ВСЕ ПРАВА ЗАЩИЩЕНЫ
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="https://use.fontawesome.com/b01fd514db.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>