@media all {
  body {
    .about-content {
      .about-container {
        flex-direction: column;
        padding: 0 44px;
        div {
          margin: 15px 0;
        }
        h5 {
          font: normal 26px "open-sans light";
          color: #0c0d0d;
          margin-top: 0;
        }
        p {
          font: normal 17px "open-sans light";
          color: #111010;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .about-brand {
          display: flex;
          justify-content: space-between;
          &__video {
            iframe {
              width: 524px;
              height: 295px;
            }
          }
          &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 35px;
          }
        }
        .about-big {
          img {
            max-width: 1081px;
            width: 100%;
            height: 361px;
          }
        }
        .our-philosophy {
          display: flex;
          justify-content: space-between;
          &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 35px;
          }
          &__img {
            img {
              width: 502px;
              height: 270px;
            }
          }
        }
      }
    }
  }
  footer {
    .content {
      .about-container {
        padding: 0 44px;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    .about-content {
      .about-container {
        .about-brand {
          flex-direction: column;
          align-items: center;
          text-align: center;
          &__video {
            order: 1;
          }
          &__text {
            order: 2;
            padding-right: 0;
          }
        }
        .about-big {

        }
        .our-philosophy {
         flex-direction: column;
          align-items: center;
          text-align: center;
          &__text {
            order: 2;
            padding-right: 0;
          }
          &__img {
            order: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 585px) {
  body {
    .about-content {
      .about-container {
        .about-brand {
          &__video {
            iframe {
              max-width: 500px;
              width: 100%;
            }
          }
          &__text {
          }
        }
        .about-big {
          height: auto;
        }
        .our-philosophy {
          &__text {
          }
          &__img {
            img {
              max-width: 500px;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}