@media all {
  body {
    header {
      .content {
        .catalog-container {
          display: flex;
          flex-direction: column;
          .header-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            &__logo {
              .logo {
                margin-top: 44px;
                margin-left: 77px;
                &__img {
                  a {
                    img {
                      width: 85px;
                      height: auto;
                    }
                  }
                }
                &__text {
                  margin-left: 19px;
                  line-height: 34px;
                  span:first-child {
                    font-size: 33px;
                  }
                  span:last-child {
                    font-size: 14px;
                  }
                }
              }
              .logo-description {
                margin-left: 60px;
                margin-top: 9px;
              }
              .logo-description {
                font: normal 12px "open-sans";
                color: #000;
              }
            }
            &__comment {
              border-left: 1px solid #dcdcdc;
              padding-left: 14px;
              margin-right: 25px;
              height: 150px;
              margin-top: 20px;
              .comment {
                display: flex;
                justify-content: space-between;
                align-content: center;
                .comment-img {
                  display: flex;
                  align-content: center;
                  align-items: center;
                  img {
                    width: 126px;
                    height: 125px;
                  }
                }
                .comment-text {
                  position: relative;
                  left: 19px;
                  max-width: 500px;
                  width: 100%;
                  background: #dcdcdc;
                  font: normal 16px "Myriad Pro";
                  color: #111010;
                  padding: 15px 15px 0 15px;
                }
              }
            }
          }
          .header-bottom {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 23px;
            .header-nav {
              margin-left: 0;
              margin-right: 126px;
              ul {
                li {
                  padding-right: 30px;
                }
              }
            }
            .header-search {
              margin-left: 0;
            }
          }
        }
      }
    }
    main {
      .catalog-content {
        .catalog-container {
          .page-name {
            font: normal 18px "open-sans light";
            color: #111010;
            margin-top: 62px;
            margin-left: 105px;
            letter-spacing: 0.3px;
          }
          .product-section {
            margin-top: 20px;
            h4 {
              margin: 0;
              font: normal 28px "open-sans light";
              color: #111010;
              text-align: center;
            }
            p {
              margin-top: 17px;
              margin-bottom: 0;
              text-align: center;
            }
            .product-group {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              margin-top: 23px;
              .one-product {
                margin: 0 33px;
                img {
                  width: 230px;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  body {
    header {
      .content {
        .catalog-container {
          .header-top {
            &__logo {
              .logo {
                padding-right: 10px;
                margin-left: 0;
                &__text {
                  span:last-child {
                    white-space: nowrap;
                  }
                }
              }
              .logo-description {
                margin-left: 0;
              }
            }
            &__comment {
              margin-right: 0;
            }
          }
          .header-bottom {
            justify-content: space-around;
            margin-top: 45px;
            .header-nav {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 880px){
  body {
    header {
      .content {
        .catalog-container {
          .header-top {
            justify-content: center;
            &__comment {
              display: none;
            }
          }
          .header-bottom {
            justify-content: flex-end;
            .header-nav {
              display: none;
            }
            .header-search {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 475px) {
  body {
    header {
      .content {
        .catalog-container {
          padding: 0 20px;
          .header-top {
            justify-content: flex-start;
            &__logo {
              .logo {
                &__img {
                  a {
                    img {
                      width: 65px;
                    }
                  }
                }
                &__text {
                  span:first-child {
                    font-size: 25px;
                  }
                  span:last-child {
                    font-size: 11px;
                  }
                }
              }
              .logo-description {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    main {
      .catalog-content {
        .catalog-container {
          .page-name {
            margin-left: 0;
          }
        }
      }
    }
  }
}