@media all {
  body {
    main {
      .cooperation-content {
        .cooperation-container {
          flex-direction: column;
          align-items: flex-start;
          padding: 0 150px;
          .cooperation-info {
            margin-left: 6px;
            h3{
              font: normal 30px "open-sans";
              color: #0c0d0d;
            }
            p {
              font: normal 17px "open-sans light";
              a {
                color: #1e4a9a;
                text-decoration: none;
              }
            }
            span {
              font: normal 17px "open-sans light";
            }
            ul {
              list-style: none;
              padding: 0;
              margin-top: 0;
              font: normal 17px "open-sans light";
            }
          }
          .cooperation-form {
            margin-left: 6px;
            form {
              h3 {
                font: normal 19px "open-sans";
                color: #0c0d0d;
              }
              .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                &:last-child {
                  display: block;
                }
                label {
                  font: normal 17px "open-sans semibold";
                  color: #0c0d0d;
                }
                input {
                  border: 1px solid #e7e6e6;
                  padding-left: 10px;
                  box-sizing: border-box;
                  color: #0c0d0d;
                  max-width: 600px;
                  width: 100%;
                  height: 35px;
                  &::-webkit-input-placeholder {
                    color: #a8a8a8;
                  }
                }
                select {
                  border: 1px solid #e7e6e6;
                  padding-left: 10px;
                  box-sizing: border-box;
                  color: #0c0d0d;
                  max-width: 600px;
                  width: 100%;
                  height: 35px;
                }
                textarea {
                  resize: none;
                  max-width: 600px;
                  width: 100%;
                  height: 200px;
                }
                button {
                  border: none;
                  color: #fff;
                  background: #191818;
                  padding: 10px 20px;
                  text-align: center;
                  margin-top: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    main {
      .cooperation-content {
        .cooperation-container {
          padding: 0 20px;
          align-items: center;
        }
      }
    }
  }
}