@font-face {
  font-family:"literaturn";
  src: url("../fonts/Literaturnaya_Plain.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"open-sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"open-sans light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"impact";
  src: url("../fonts/impact.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"open-sans semibold";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MyriadPro regular";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}