@media all {
  .container {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  body {
    position: relative;
    .content {
      max-width: 1240px;
      width: 100%;
      margin: 0 auto;
      .container {
        padding: 0 64px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
      &__img {
        a {
          img {
            width: 37px;
            height: 38px;
          }
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        font: normal 28px "literaturn";
        color: #94191c;
        margin-left: 13px;
        letter-spacing: 2.6px;
        span {
          &:last-child {
            font-size: 12px;
            color: #000;
            letter-spacing: -1.3px;
          }
        }
      }
    }
    header {
      .header-mobile {
        display: none;
      }
      .header-nav-btn {
        display: none;
      }
      .header-nav {
        margin-top: 23px;
        margin-left: 80px;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          .active {
            a {
              color: #942a25;
            }
            a::after {
              content: "";
              display: block;
            }
          }
          li {
            display: inline-block;
            padding-right: 30px;
            a {
              &:hover {
                color: #942a25;
                transition: all 0.2s ease 0.3s;
              }
              text-decoration: none;
              color: #3856a0;
              font: normal 17px "open-sans";
            }
          }
        }
      }
      .header-search {
        margin-left: 151px;
        margin-top: 24px;
        font-size: 21px;
        a {
          i {
            color: #000;
          }
        }
      }
    }
    main {
      .content {
        position: relative;
        #toTop {
          width: 50px;
          height: 50px;
          background: #fff;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #a3b8d1;
          box-sizing: border-box;
          position: fixed;
          z-index: 3;
          cursor: pointer;
          right: 50px;
          bottom: 30px;
          i {
            color: #a3b8d1;
            font-size: 31px;
          }
        }
        .bags-intro {
          position: relative;
          margin-top: 20px;
          img {
            max-width: 1190px;
            width: 100%;
            max-height: 527px;
            height: auto;
            margin: 0 auto;
            display: block;
          }
          &__label {
            position: absolute;
            top: 135px;
            left: 50%;
            margin-left: -145px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            width: 290px;
            text-align: center;
            p {
              margin: 0;
              padding: 0;
            }
            .first {
              color: #c0c0c0;
              font: normal 13px "open-sans";
              letter-spacing: 0.5px;
            }
            .second {
              font: normal 50px "impact";
              margin-top: 16px;
              line-height: 43px;
              span:last-child {
                font-size: 27px;
              }
            }
            .third {
              color: #c0c0c0;
              font: normal 14px "open-sans";
              margin-top: 3px;
              line-height: 20px;
            }
            button {
              outline: none;
              cursor: pointer;
              border: 1px solid #fff;
              width: 188px;
              box-sizing: border-box;
              height: 40px;
              background: none;
              color: #fff;
              text-align: center;
              margin-top: 29px;
            }
          }
        }
        .bags-product {
          display: flex;
          justify-content: space-between;
          padding: 0 25px;
          margin-top: 33px;
          &__one {
            position: relative;
            margin: 0 5px;
            img {
              display: block;
              max-width: 580px;
              width: 100%;
              max-height: 580px;
              height: auto;
            }
            .detail-group {
              position: absolute;
              left: 35px;
              bottom: 48px;
              color: #fff;
              p {
                margin: 0;
                padding: 0;
              }
              .name {
                font: normal 50px "open-sans semibold";
                letter-spacing: 1px;
                margin-bottom: -2px;
              }
              .description {
                font: normal 23px "open-sans light";
                margin-bottom: 15px;
                margin-left: 5px;
                letter-spacing: 0.5px;
              }
              button {
                border: none;
                background: #fff;
                outline: none;
                color: #1f1e1e;
                cursor: pointer;
                width: 210px;
                height: 48px;
                font: normal 21px "open-sans light";
              }
            }
          }
        }
        .bags-description {
          position: relative;
          margin-top: 43px;
          &__left-bag {
            background: url("../img/jpg/left-bag.jpg") no-repeat;
            width: 379.5px;
            height: 720.5px;
            background-size: contain;
            left: 0;
            top: 113px;
          }
          &__right-bag {
            background: url("../img/jpg/right-bag.jpg") no-repeat;
            background-size: contain;
            width: 599px;
            height: 755px;
            right: 0;
            top: 98px;
          }
          .bg-bag {
            position: absolute;
            z-index: 1;
          }
          &__title {
            z-index: 2;
            position: relative;
            h4 {
              text-align: center;
              color: #000;
              font: normal 29px "open-sans light";
              margin: 0;
              &:after {
                max-width: 500px;
                width: 100%;
                display: block;
                content: '';
                padding-top: 10px;
                height: 2px;
                margin: 0 auto;
                border-bottom: 2px solid #000;
              }
            }
          }
          &__text {
            z-index: 2;
            position: relative;
            .text-block {
              &:first-child {
                margin-left: 312px;
                margin-top: 56px;
              }
              &:nth-child(2) {
                margin-left: 412px;
                margin-top: 46px;
              }
              &:nth-child(3) {
                margin-left: 361px;
                margin-top: 68px;
                .detail-name {
                  width: 450px;
                }
                .detail-text-first {
                  width: 460px;
                }
                .detail-text-second {
                  width: 470px;
                }
              }
              .detail-name {
                font: normal 37px "open-sans light";
                span {
                  font-size: 20px;
                  vertical-align: top;
                }
              }
              p {
                margin: 0;
                width: 400px;
                display: block;
              }
              .detail-text-first {
                 letter-spacing: 0.4px;
                 margin-top: 11px;
                 line-height: 24px;
               }
              .detail-text-second {
                letter-spacing: 0.4px;
                line-height: 24px;
                margin-top: 29px;
              }
            }
          }
          &__comfort {
            z-index: 2;
            position: relative;
            margin-top: 106px;
            .comfort-title {
              display: flex;
              justify-content: center;
              align-items: center;
              span:not(:nth-child(2)) {
                max-width: 465px;
                width: 100%;
                height: 2px;
                border-bottom: 2px solid #000;
              }
              span:nth-child(2) {
                margin: 0 10px;
                font: normal 26px "MyriadPro regular";
                letter-spacing: 2px;
              }
            }
            .comfort-group {
              display: flex;
              justify-content: space-around;
              align-items: flex-start;
              margin-top: 50px;
              .some-comfort {
                display: flex;
                align-items: center;
                max-width: 255px;
                flex-wrap: wrap;
                p {
                  margin: 0 0 0 25px;
                  padding: 0;
                  font: normal 16px "Myriad Pro";
                }
                .return {
                  background: url("../img/png/return.png") no-repeat;
                  height: 67px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-size: contain;
                  width: 64px;
                }
                .purse {
                  background: url("../img/png/purse.png") no-repeat;
                  background-size: contain;
                  width: 64px;
                  height: 48px;
                }
                .car {
                  background: url("../img/png/car.png") no-repeat;
                  background-size: contain;
                  width: 64px;
                  height: 48px;
                }
                .protect {
                  background: url("../img/png/protect.png") no-repeat;
                  background-size: contain;
                  width: 64px;
                  height: 61px;
                }
                a {
                  text-decoration: underline;
                  color: #006dc9;
                  font: normal 16px "open-sans light";
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
    footer {
      background: #959595;
      margin-top: 32px;
      height: 150px;
      .content {
        .container {
          justify-content: space-between;
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
          .logo {
            margin-top: 0;
            &__img {
              a {
                img {
                  width: auto;
                  height: auto;
                }
              }
            }
            &__text {
              font-size: 40px;
              span {
                &:last-child {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
      .footer-nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 2px 0;
            a {
              color: #fff;
              font: normal 16px "open-sans light";
              text-decoration: none;
            }
          }
        }
      }
      .social {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 95px;
        justify-content: space-between;
        &__icons {
          display: flex;
          a {
            margin-right: 10px;
            text-decoration: none;
            color: #fff;
            width: 37px;
            height: 37px;
            background: #3c3938;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background: #942a25;
              transition: all 0.2s ease 0.3s;
            }
            i {
              font-size: 25px;
            }
          }
        }
        &__phone {
          font: normal 16px "open-sans light";
        }
        &__copyright {
          font: normal 15px "MyriadPro regular";
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  body {
    .content {
      .container {
        justify-content: space-between;
      }
    }
    header {
      .header-nav {
        margin-left: 0;
        ul {
          li {
            padding-right: 40px;
          }
        }
      }
      .header-search {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  body {
    header {
      .content {
        .container {
          padding: 0 20px;
        }
      }
      .header-nav {
        padding: 0 30px;
        ul {
          max-width: 660px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          li {
            padding-right: 13px;
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
    main {
      .content {
        .bags-description {
          &__left-bag {
            width: 288px;
          }
          &__right-bag {
            width: 388px;
            top: 170px;
          }
          &__text {
            .text-block {
              font-size: 13px;
              &:first-child {
                margin-left: 254px;
                margin-top: 21px;
              }
              &:nth-child(2) {
                margin-left: 325px;
              }
              &:nth-child(3) {
                margin-left: 325px;
                margin-top: 40px;
              }
              .detail-name {
                font-size: 30px;
              }
              .detail-text-second {
                margin-top: 10px;
              }
            }
          }
          &__comfort {
            margin-top: 100px;
            .comfort-title {
              span:not(:nth-child(2)) {
                max-width: 465px;
                width: 100%;
                height: 2px;
                border-bottom: 2px solid #000;
                margin: 0 10px;
              }
              span:nth-child(2) {
               font-size: 20px;
               white-space: nowrap;
                letter-spacing: 0;
              }
            }
            .comfort-group {
              display: flex;
              justify-content: space-around;
              flex-wrap: wrap;
              .some-comfort {
                align-content: space-around;
                max-width: 390px;
                width: 100%;
                margin: 30px 0;
                a {
                  margin-left: 25px;
                }
              }
            }
          }
        }
        .bags-intro {
          &__label {
            top: 110px;
            width: 260px;
            margin-left: -130px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  body {
    header {
      position: relative;
      .header-mobile {
        z-index: 8;
        position: absolute;
        top: 0;
        left: -300px;
        width: 310px;
        height: 500px;
        background: #fff;
        transition: all 1s ease 0.5s;
        display: block;
        ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          margin: 0;
          padding: 0;
          align-content: center;
          text-align: center;
          .active {
            a {
              color: #942a25;
            }
            a::after {
              content: "";
              display: block;
              padding-top: 10px;
            }
          }
          li {
            display: inline-block;
            padding: 20px 15px;
            a {
              text-decoration: none;
              color: #3856a0;
              font: normal 17px "open-sans";
            }
          }
        }
      }
      .show {
        left: 0;
      }
      .header-nav-btn {
        z-index: 10;
        display: block;
        position: absolute;
        right: 30px;
        top: -20px;
        #nav-icon.open {
          span:nth-child(1) {
            top: 18px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          span:nth-child(2) {
            opacity: 0;
            left: -60px;
          }
          span:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
          }
        }
        #nav-icon {
          display: block;
          width: 60px;
          height: 45px;
          position: relative;
          margin: 50px auto;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
          span {
            display: block;
            position: absolute;
            height: 9px;
            width: 100%;
            background: #d3531a;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
          }
          span:nth-child(1) {
            top: 0;
          }
          span:nth-child(2) {
            top: 18px;
          }
          span:nth-child(3) {
            top: 36px;
          }
        }
      }
      .header-nav {
        display: none;
      }
      .header-search {
        margin-right: 75px;
      }
    }
    main {
      .content {
        .bags-description {
          &__left-bag {
            width: 288px;
          }
          &__right-bag {
            width: 388px;
            top: 170px;
          }
          &__text {
            .text-block {
              &:first-child {
                margin-left: 150px;
              }
              &:nth-child(2) {
                margin-left: 220px;
              }
              &:nth-child(3) {
                margin-left: 220px;
              }
            }
          }
          &__comfort {
            .comfort-group {
              margin-top: 0;
            }
          }
        }
        .bags-intro {
          &__label {
            top: 95px;
            width: 260px;
            margin-left: -130px;
            .third {
              display: none;
            }
            button {
              width: 160px;
              margin-top: 0;
            }
          }
        }
      }
    }
    footer {
      .content {
        .container {
          justify-content: space-between;
          align-items: flex-start;
          .footer-nav {
            ul {
              height: 150px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }
          }
          .logo {
            display: none;
          }
          .social {
            height: 150px;
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    header {
      .header-mobile {
        button {
          padding-left: 100px;
        }
      }
    }
    main {
      .content {
        .bags-intro {
          &__label {
            top: 75px;
            .first {
              font-size: 9px;
            }
            .second {
              font-size: 30px;
              margin-top: 0;
              line-height: 30px;
              span {
                &:last-child {
                  font-size: 20px;
                  display: block;
                }
              }
            }
            button {
              width: 120px;
              font-size: 12px;
            }
          }
        }
        .bags-product {
          flex-direction: column;
          align-items: center;
          &__one {
            width: 315px;
            height: 315px;
            margin: 20px 0;
          }
        }
        .bags-description {
          .bg-bag {
            display: none;
          }
          &__text {
            display: flex;
            align-items: center;
            flex-direction: column;
            .text-block {
              margin: 0 10px;
              .detail-name {
                max-width: 400px;
                width: 100%;
              }
              .detail-text-second {
                max-width: 400px;
                width: 100%;
              }
              .detail-text-first {
                max-width: 400px;
                width: 100%;
              }
              &:first-child {
                margin-left: 10px;
              }
              &:nth-child(2) {
                margin-left: 10px;
              }
              &:nth-child(3) {
                margin-left: 10px;
                .detail-name {
                  max-width: 400px;
                  width: 100%;
                }
                .detail-text-first {
                  max-width: 400px;
                  width: 100%;
                }
                .detail-text-second {
                  max-width: 400px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    header {
      .content {
        .container {
          .header-nav-btn {
            #nav-icon {
              width: 45px;
              span {
                height: 6px;
                &:nth-child(2) {
                  top: 13px;
                }
                &:nth-child(3) {
                  top: 26px;
                }
              }
            }
            #nav-icon.open {
              span {
                &:nth-child(1) {
                  top: 22px;
                }
                &:nth-child(3) {
                  top: 22px;
                }
              }
            }
          }
          .header-search {
            display: none;
          }
        }
      }
    }
    main {
      .content {
        .bags-intro {
          &__label {
            top: 60px;
            .first {
              display: none;
            }
            .second {
              font-size: 25px;
              span {
                &:last-child {
                  font-size: 15px;
                }
              }
            }
            button {
              width: 100px;
              font-size: 12px;
              height: 30px;
            }
          }
        }
      }
    }
    footer {
      .content {
        .container {
          padding: 0 10px;
        }
      }
      .footer-nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 2px 0;
            a {
              color: #fff;
              font: normal 16px "open-sans light";
              text-decoration: none;
            }
          }
        }
      }
      .social {
        &__phone {
          font-size: 14px;
        }
        &__copyright {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  body {
    main {
      .content {
        .bags-description {
          &__comfort {
            .comfort-group {
              .some-comfort:nth-child(2) {
                a {
                  width: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    header {
    }
    main {
      .content {
        .bags-intro {
          &__label {
            top: 40px;
          }
        }
      }
    }
  }
}