@media all {
  body {
    .lookbook-content {
      .lookbook-container {
        flex-direction: column;
        h3 {
          text-align: center;
          font: normal 28px "open-sans light";
          color: #111010;
        }
        .lookbook-group {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          img {
            width: 246px;
            height: 246px;
          }
        }
      }
    }
  }
}