@media all {
  body {
    main {
      .content {
        .container {
          .page-navigation {
            display: flex;
            justify-content: space-between;
            width: 92%;
            margin-top: 32px;
            div {
              a {
                text-decoration: none;
                color: #111010;
                font: normal 17px "open-sans light";
              }
            }
            .previous-page {

            }
            .next-page {

            }
          }
        }
        .product-container {
          padding: 0 10px;
          flex-direction: column;
          justify-content: center;
          .product-big {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;
            .product-name {
              font: normal 60px "open-sans light";
              color: #111010;
              outline: none;
              margin-top: 0px;
              margin-left: 100px;
              letter-spacing: 1.5px;
            }
            .product-price {
              font: normal 30px "open-sans light";
              color: #848181;
              margin-left: 102px;
              letter-spacing: -0.5px;
            }
            &__left-side {
              .product-name {
                display: none;
              }
              .product-price {
                display: none;
              }
              .product-bigimg {
                margin-left: 96px;
                img {
                  width: 400px;
                  height: auto;
                }
              }
              .product-smallimg {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                img {
                  width: 100px;
                  height: 130px;
                  margin: 0 8px;
                }
              }
            }
            &__right-side {
              .product-color {
                margin-top: 52px;
                .chose-color {
                  font: normal 25px "open-sans light";
                  color: #111010;
                  margin-left: 104px;
                }
                .color-group {
                  flex-wrap: wrap;
                  display: flex;
                  justify-content: space-between;
                  max-width: 304px;
                  width: 100%;
                  margin-left: 97px;
                  img {
                    width: 85px;
                    height: 85px;
                    cursor: pointer;
                    margin-top: 25px;
                  }
                }
              }
              .product-size {
                display: flex;
                justify-content: center;
                border-top: 1px solid #e4e4e4;
                border-bottom: 1px solid #e4e4e4;
                padding: 10px 0;
                max-width: 435px;
                margin-top: 43px;
                margin-left: 93px;
                p {
                  font: normal 17px "open-sans light";
                  color: #606060;
                  margin: 12px;
                  &:last-child {
                    font-size: 15px;
                  }
                }
                .size {
                  width: 50%;
                }
                .amount {
                  border-left: 1px solid #e4e4e4;
                  padding-left: 10px;
                  width: 50%;
                }
              }
              button {
                background: linear-gradient(to right bottom ,#365f8c ,#4b85c9);
                border: none;
                cursor: pointer;
                outline: none;
                color: #fff;
                height: 45px;
                padding: 0 17px;
                font: normal 16px "open-sans semibold";
                margin-top: 69px;
                margin-left: 103px;
                i {
                  padding-left: 10px;
                }
              }
              .product-guarantee {
                display: flex;
                margin-top: 60px;
                position: relative;
                right: 35px;
                div {
                  display: flex;
                }
                i {
                  display: inline-block;
                }
                p {
                  padding: 0 0 0 10px;
                  margin: 0;
                }
                .guarantee-one {
                  .guarantee-car {
                    background: url("../img/png/car.png") no-repeat;
                    background-size: contain;
                    height: 32px;
                    width: 62px;
                  }
                }
                .guarantee-two {
                  .guarantee-return {
                    background: url("../img/png/return.png") no-repeat;
                    width: 65px;
                    height: 39px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-size: contain;
                  }
                }
                .guarantee-three {
                  .guarantee-protect {
                    background: url("../img/png/protect.png") no-repeat;
                    background-size: contain;
                    width: 38px;
                    height: 39px;
                  }
                }
                .guarantee_block {
                  width: 190px;
                }
              }
            }
          }
          .feature {
            width: 100%;
            margin-top: 56px;
            h4 {
              text-align: center;
              font: normal 42px "open-sans light";
              color: #111010;
              margin: 0;
            }
            p {
              text-align: center;
              font: 800 20px "open-sans semibold";
              color: #111010;
              margin-bottom: 0;
            }
            &__group {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              flex-direction: row;
              .feature-block {
                display: flex;
                justify-content: center;
                max-width: 520px;
                width: 100%;
                height: auto;
                position: relative;
                margin: 22px 0;
                padding-bottom: 20px;
                &:first-child {
                  .feature-text {
                    p:last-child {
                      line-height: 26px;
                    }
                  }
                }
                img {
                  width: 185px;
                  height: 185px;
                }
                .feature-text {
                  max-width: 255px;
                  margin-left: 10px;
                  height: auto;
                  font: normal 18px "open-sans light";
                  color: #111010;
                  p {
                    text-align: left;
                    &:last-child {
                      font-size: 16px;
                    }
                  }
                }
                &::after {
                  content: '';
                  display: block;
                  max-width: 400px;
                  width: 100%;
                  height: 1px;
                  border-bottom: 1px solid #44579c;
                  bottom: 0;
                  position: absolute;
                  left: 50%;
                  margin-left: -200px;
                }
              }
            }
          }
          .what-else {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-bottom: 30px;
            &::after {
              content: "";
              display: block;
              position: absolute;
              max-width: 655px;
              width: 100%;
              left: 50%;
              margin-left: -350px;
              bottom: 0;
              height: 1px;
              border-bottom: 1px solid #44579c;
              padding: 10px;
            }
            &__marker {
              margin-left: 78px;
              p {
                font: 800 20px "open-sans semibold";
              }
              ul {
                list-style: none;
                margin: 0 0 0 25px;
                padding: 0;
                li {
                  font: normal 17px "open-sans light";
                  color: #111010;
                  position: relative;
                  &::before {
                    content:  "-";
                    position: absolute;
                    left: -25px;
                  }
                }
              }
            }
            &__img {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              margin-left: 17px;
              img {
                width: 144px;
                height: 144px;
                padding: 5px;
              }
            }
          }
          .video-review {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 15px;
            padding-bottom: 55px;
            &::after {
              content: "";
              display: block;
              position: absolute;
              max-width: 650px;
              width: 100%;
              left: 50%;
              margin-left: -325px;
              bottom: 0;
              height: 1px;
              border-bottom: 1px solid #44579c;
              padding: 10px;
            }
            &__video {
              iframe {
                width: 400px;
                height: 258px;
              }
            }
            &__text {
              font: normal 17px "open-sans light";
              color: #111010;
              margin-left: 17px;
              margin-top: 13px;
              max-width: 550px;
              width: 100%;
              p {
                &:first-child {
                  font: 800 20px "open-sans semibold";
                }
              }
            }
          }
          .commentary-group {
            max-width: 480px;
            width: 100%;
            margin: 43px auto 0;
            &__title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                margin: 0;
                &:first-child {
                  font: normal 25px "open-sans semibold";
                  color: #1a1a1a;
                  span {
                    color: #b1b1b1;
                  }
                }
                &:last-child {
                  i {
                    color: #5b7caa;
                    font-size: 30px;
                    padding: 8px 8px 8px 13px;
                    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
                    border-radius: 10px;
                    cursor: pointer;
                  }
                }
              }
            }
            &__body {
              margin-top: 12px;
              .one-commentary {
                padding-bottom: 20px;
                border-bottom: 1px solid #e9e9e9;
                margin-bottom: 20px;
                .name-rate-date {
                  display: flex;
                  justify-content: space-between;
                  .name-rate {
                    span {
                      &:first-child {
                        font: 800 18px "open-sans semibold";
                        color: #1a1a1a;
                      }
                      &:last-child {
                        margin-left: 15px;
                        i {
                          color: #eeba2c;
                        }
                      }
                    }
                  }
                  .date-link {
                    span {
                      &:first-child {
                        color: #979797;
                        margin-right: 10px;
                      }
                      &:last-child {
                        color: #728fb7;
                        i {
                          transform: rotateZ(135deg);
                        }
                      }
                    }
                  }
                }
                .all-comment {
                  font: normal 18px "open-sans light";
                  color: #1a1a1a;
                  margin-top: 10px;
                }
                .reply-like {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 10px;
                  .reply-answer {
                    display: flex;
                    a {
                      color: #5476a6;
                      text-decoration: none;
                      position: relative;
                      padding-bottom: 2px;
                      &::after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        border-bottom: 1px dashed #5476a6;
                        height: 1px;
                      }
                    }
                    i {
                      color: #5476a6;
                      cursor: pointer;
                    }
                    .reply {
                      padding-right: 10px;
                      box-sizing: border-box;
                      border-right: 1px solid #e9e9e9;
                    }
                    .answer {
                      margin-left: 10px;
                    }
                  }
                  .like {
                    display: flex;
                    .thumbs-block {
                      margin-right: 15px;
                      i {
                        cursor: pointer;
                        outline: none;
                        &:first-child {
                          color: #00c462;
                          border-right: 1px solid #e9e9e9;
                          padding-right: 10px;
                          box-sizing: border-box;
                        }
                        &:last-child {
                          color: #a9302a;
                          padding-left: 10px;
                        }
                      }
                    }
                    .del {
                      i {
                        background: url("../img/jpg/attention-comment.jpg") no-repeat;
                        width: 22px;
                        height: 17px;
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1210px) {
  body {
    main {
      .content {
        .product-container {
          .product-big {
            &__left-side {
              .product-bigimg {
                img {
                  width: 435px;
                }
              }
            }
            &__right-side {
              .product-guarantee {
                flex-wrap: wrap;
                .guarantee_block {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    main {
      .content {
        .product-container {
          .product-big {
            &__left-side {
              margin-top: 0;
              .product-bigimg {
                margin-left: 10px;
                img {
                  width: 350px;
                }
              }
              .product-smallimg {
                img {
                  width: 85px;
                  height: 95px;
                }
              }
            }
            &__right-side {
              .product-name {
                margin-left: 0;
              }
              .product-price {
                margin-left: 0;
              }
              .product-color {
                .chose-color {
                  margin-left: 0;
                }
                .color-group {
                  margin-left: 0;
                }
              }
              .product-size {
                margin-left: 0;
              }
              button {
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    main {
      .content {
        .product-container {
          .product-big {
            flex-direction: column;
            align-items: center;
            &__left-side {
              margin-top: 0;
              order: 1;
              .product-name {
                display: block;
                text-align: center;
                margin-left: 0;
                margin-top: 0;
              }
              .product-price {
                display: block;
                text-align: center;
                margin-left: 0;
                margin-bottom: 20px;
              }
              .product-bigimg {

                img {
                  width: 350px;
                }
              }
              .product-smallimg {
                flex-wrap: wrap;
                img {
                  width: 85px;
                  height: 95px;
                }
              }
            }
            &__right-side {
              display: flex;
              flex-direction: column;
              align-items: center;
              order: 2;
              .product-name {
                margin-top: 20px;
                display: none;
              }
              .product-price {
                display: none;
              }
              .product-size {
                max-width: 360px;
                width: 100%;
              }
              .product-guarantee {
                right: auto;
              }
            }
          }
          .what-else {
            flex-direction: column;
            &__marker {
              margin-left: 15px;
              margin-bottom: 20px;
              p {
                text-align: center;
              }
            }
          }
          .video-review {
            flex-direction: column;
            align-items: center;
            &__video {
              display: flex;
              order: 1;
            }
            &__text {
              display: flex;
              flex-direction: column;
              order: 2;
              margin-left: 0;
              p {
                width: 90%;
                margin: 10px auto 10px;
                text-align: justify;
                &:first-child {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    main {
      .content {
        .product-container {
          .product-big {
            &__left-side {
              .product-bigimg {
                img {
                  width: 280px;
                }
              }
            }
          }
          .feature{
            &__group {
              .feature-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                .feature-text {
                  p {
                    &:first-child {
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
          .video-review {
            &__video {
              iframe {
                width: 300px;
                height: auto;
              }
            }
          }
          .what-else {
            &__img {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}