//= template/head.html
<header>
    <div class="content">
        <div class="container catalog-container">
            <div class="header-top">
                <div class="header-top__logo">
                    <div class="logo">
                        <div class="logo__img">
                            <a href="#"><img src="img/png/logo.png" alt=""></a>
                        </div>
                        <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                            <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                        </div>
                    </div>
                    <div class="logo-description">
                        РЮКЗАКИ И СУМКИ С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    </div>
                </div>
                <div class="header-top__comment">
                    <div class="comment">
                        <div class="comment-img">
                            <img src="img/png/commentator-photo.png" alt="">
                        </div>
                        <div class="comment-text">
                            «Мы их сами производим и носим каждый день, а также постоянно
                            что-то усовершенствуем, улучшаем.<br>
                            Вы будете приятно удивлены высокому качеству, надежности и удобству.
                            Шьем как для себя. Нас выбрали более 560 довольных клиентов».
                            <p>
                                <strong>
                                    Денис, дизайнер, директор
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-nav">
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li class="active"><a href="#">РЮКЗАКИ</a></li>
                        <li><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-mobile">
                    <ul>
                        <li><a href="#">РЮКЗАКИ</a></li>
                        <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-nav-btn">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content about-content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="container about-container">
            <div class="about-brand">
                <div class="about-brand__text">
                    <h5>
                        О БРЕНДЕ
                    </h5>
                    <p>
                        Бренд PELICAN специализируется на разработке и изготовлении
                        рюкзаков, сумок и аксессуаров, которые идеально подходят как
                        для города – работы, учебы, спорта и прогулок, так и для
                        путешествий и поездок.
                    </p>
                    <p>
                        Наши рюкзаки - это итоговый результат слаженной работы
                        команды специалистов.
                    </p>
                </div>
                <div class="about-brand__video">
                    <iframe src="https://www.youtube.com/embed/gZ8Yxx5ZVeQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="about-big">
                <img src="img/jpg/about-big.jpg" alt="">
            </div>
            <div class="our-philosophy">
                <div class="our-philosophy__text">
                    <h5>Наша философия - разумное потребление</h5>
                    <p>
                        Одна  качественная вещь заменяет большое количество вещей
                        низкого качества.
                    </p>
                    <p>
                        PELICAN – это симбиоз новых технических решений, интересных
                        форм, уникального дизайна, качества и функциональности в каждом
                        изделии.
                    </p>
                     <p>
                         Рюкзаки, сумки и аксессуары PELICAN - это незаменимая  вещь
                        и помощник на каждый день.
                    </p>
                </div>
                <div class="our-philosophy__img">
                    <img src="img/jpg/philosophy.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>





//= template/footer.html