//= template/head.html
<header>
    <div class="content">
        <div class="container catalog-container">
            <div class="header-top">
                <div class="header-top__logo">
                    <div class="logo">
                        <div class="logo__img">
                            <a href="#"><img src="img/png/logo.png" alt=""></a>
                        </div>
                        <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                            <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                        </div>
                    </div>
                    <div class="logo-description">
                        РЮКЗАКИ И СУМКИ С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    </div>
                </div>
                <div class="header-top__comment">
                    <div class="comment">
                        <div class="comment-img">
                            <img src="img/png/commentator-photo.png" alt="">
                        </div>
                        <div class="comment-text">
                            «Мы их сами производим и носим каждый день, а также постоянно
                            что-то усовершенствуем, улучшаем.<br>
                            Вы будете приятно удивлены высокому качеству, надежности и удобству.
                            Шьем как для себя. Нас выбрали более 560 довольных клиентов».
                            <p>
                                <strong>
                                    Денис, дизайнер, директор
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-nav">
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li class="active"><a href="#">РЮКЗАКИ</a></li>
                        <li><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-mobile">
                    <ul>
                        <li><a href="#">РЮКЗАКИ</a></li>
                        <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-nav-btn">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content catalog-content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="catalog-container">
            <div class="page-name">
                SPRING-SUMMER 2017
            </div>
            <div class="product-section">
                <h4>TOMMY</h4>
                <p><strong>со специальным водонепроницаемым карманом</strong></p>
                <div class="product-group">
                    <div class="one-product">
                        <img src="img/jpg/tommy-1.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/tommy-2.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/tommy-3.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/tommy-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-section">
                <h4>SPY</h4>
                <p><strong>с незаметными, скрытыми карманами</strong></p>
                <div class="product-group">
                    <div class="one-product">
                        <img src="img/jpg/spy-1.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/spy-2.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/spy-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-section">
                <h4>HIPSTER</h4>
                <p><strong>с отделением для обуви и боковым карманом</strong></p>
                <div class="product-group">
                    <div class="one-product">
                        <img src="img/jpg/hipster-1.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-2.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-4.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-5.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-6.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-section">
                <h4>ABILITY</h4>
                <p><strong>с отделением для обуви и боковым карманом</strong></p>
                <div class="product-group">
                    <div class="one-product">
                        <img src="img/jpg/hipster-1.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-2.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/hipster-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-section">
                <h4>NINJA</h4>
                <p><strong>рюкзак-кимоно в стие teckwear</strong></p>
                <div class="product-group">
                    <div class="one-product">
                        <img src="img/jpg/ninja-1.jpg" alt="">
                    </div>
                    <div class="one-product">
                        <img src="img/jpg/ninja-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bags-description">
            <div class="bags-description__left-bag bg-bag">
            </div>
            <div class="bags-description__right-bag bg-bag">
            </div>
            <div class="bags-description__title">
                <h4>
                    ИЗДЕЛИЯ PELICAN ЭТО
                </h4>
            </div>
            <div class="bags-description__text">
                <div class="text-block">
                    <p class="detail-name">
                        ТКАНЬ CORDURA <span>&#174;</span>
                    </p>
                    <p class="detail-text-first">
                        <strong>
                            Износоустойчевость:
                        </strong>
                        рюкзаки сделаны из ткани
                        Cordura Classic fabric. Made in USA. <br>
                        Срок службы изделий в 4-7 раз выше обычного.
                    </p>
                    <p class="detail-text-second">
                        <strong>
                            Водоустойчивое покрытие:
                        </strong>
                        специальная пропитка
                        ткани позволяет отталкивать воду, что защищает
                        ваши вещи от дождя и мокрого снега.
                    </p>
                </div>
                <div class="text-block">
                    <p class="detail-name">
                        ФУРНИТУРА YKK
                    </p>
                    <p class="detail-text-first">
                        Во всех изделиях используются замки,
                        молнии и другая фурнитура от японской
                        компании YKK, которая считается лучшей
                        в мире. Они самые долговечные и надежные.
                    </p>
                </div>
                <div class="text-block">
                    <p class="detail-name">
                        УСИЛЕННОЕ ДНО И ШВЫ
                    </p>
                    <p class="detail-text-first">
                        Носите рюкзак даже в самых экстремальных ситуациях.
                        Дно рюкзака сделано из сверхпрочной тентовой ткани.
                    </p>
                    <p class="detail-text-second">
                        Вы не сможете оторвать у рюкзака ручку или порвать его
                        по шву так как все швы делаются усиленной полиамидовой
                        нитью.
                    </p>
                </div>
            </div>
            <div class="bags-description__comfort">
                <div class="comfort-title">
                    <span></span>
                    <span>С НАМИ УДОБНО</span>
                    <span></span>
                </div>
                <div class="comfort-group">
                    <div class="some-comfort">
                        <i class="comfort-icon return">30</i>
                        <p>
                            Возврат товара<br> в течении 30 дней
                        </p>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon purse"></i>
                        <p>
                            Любой вид<br>оплаты
                        </p><br>
                        <a href="#">Как оплатить?</a>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon car"></i>
                        <p>
                            Доставка по<br>Украине бесплатно
                        </p><br>
                        <a href="#">Способ доставки</a>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon protect"></i>
                        <p>
                            Гарантия качества всех<br>товаров 3 года
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= template/footer.html