//= template/head.html
<header>
    <div class="content">
        <div class="container catalog-container">
            <div class="header-top">
                <div class="header-top__logo">
                    <div class="logo">
                        <div class="logo__img">
                            <a href="#"><img src="img/png/logo.png" alt=""></a>
                        </div>
                        <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                            <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                        </div>
                    </div>
                    <div class="logo-description">
                        РЮКЗАКИ И СУМКИ С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    </div>
                </div>
                <div class="header-top__comment">
                    <div class="comment">
                        <div class="comment-img">
                            <img src="img/png/commentator-photo.png" alt="">
                        </div>
                        <div class="comment-text">
                            «Мы их сами производим и носим каждый день, а также постоянно
                            что-то усовершенствуем, улучшаем.<br>
                            Вы будете приятно удивлены высокому качеству, надежности и удобству.
                            Шьем как для себя. Нас выбрали более 560 довольных клиентов».
                            <p>
                                <strong>
                                    Денис, дизайнер, директор
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-nav">
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li class="active"><a href="#">РЮКЗАКИ</a></li>
                        <li><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-mobile">
                    <ul>
                        <li><a href="#">РЮКЗАКИ</a></li>
                        <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-nav-btn">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content cooperation-content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="container catalog-container cooperation-container">
            <div class="cooperation-info">
                <h3>СОТРУДНИЧЕСТВО С НАМИ</h3>
                <p>Мы открыты к сотрудничеству с магазинами, интернет-магазинами, блоггерами и т.д.</p>
                <p>Оптовые цены мы предоставляем в зависимости от вашего заказа.</p>
                <span>Для начала заполните простую форму ниже, где укажите:</span>
                <ul>
                    <li>-Что за магазин (торговая площадка)?</li>
                    <li>-Какие категории товаров продаете?</li>
                    <li>-Какой, примерно, объем хотели бы заказать?</li>
                    <li>-Контактную информацию.</li>
                </ul>
                <p>По любым вопросам связывайтесь с нами через страницу <a href="#">контакты</a></p>
            </div>

            <div class="cooperation-form">
                <h3>ДЛЯ ЗАПРОСА ОПТОВЫХ ПРОДАЖ ЗАПОЛНИТЕ ФОРМУ НИЖЕ:</h3>
                <form id="coop-form">
                    <div class="form-group">
                        <label for="name">Ваше имя:</label>
                        <input type="name" id="name" placeholder="Иванов Иван" required minlength="4">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" placeholder="ivan@yandex.ru" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Контактный номер:</label>
                        <input type="tel" id="phone" placeholder="+3(333) 333 33 33" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="links">Ссылки на Ваши торговые площадки в интернете:</label>
                        <input type="name" id="links" placeholder="https://vk.com/shmot_com_ua, http://shmot.com.ua/ и др.">
                    </div>
                    <div class="form-group">
                        <label for="product-count">Примерное количество поставки (шт.):</label>
                        <select name="product-count" id="product-count">
                            <option value="">15-20</option>
                            <option value="">20-30</option>
                            <option value="">30-50</option>
                            <option value="">более 50 шт</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="form-commentary">Комментарии к заказу:</label>
                        <textarea name="" id="form-commentary" maxlength="600"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Отправить запрос</button>
                    </div>
                </form>
            </div>





        </div>
    </div>
</main>





//= template/footer.html