//= template/head.html
<header>
    <div class="content">
        <div class="container">
            <div class="logo">
                <div class="logo__img">
                    <a href="#"><img src="img/png/logo.png" alt=""></a>
                </div>
                <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                    <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                </div>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="#">РЮКЗАКИ</a></li>
                    <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                    <li><a href="#">LOOKBOOK</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="header-mobile">
                <ul>
                    <li><a href="#">РЮКЗАКИ</a></li>
                    <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                    <li><a href="#">LOOKBOOK</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                    <li><a href="#">ПОИСК</a></li>
                </ul>
            </div>
            <div class="header-nav-btn">
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header-search">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="bags-intro">
            <img src="img/jpg/слайдер.png" alt="">
            <div class="bags-intro__label">
                <p class="first">
                    FEATURED COLLECTION
                </p>
                <P class="second">
                    <span>PELICAN</span>
                    <span>PROFESSIONAL</span>
                </P>
                <P class="third">
                    Organize everything a street photographer
                    needs in a sleek, low-profile, quick access
                    bag.
                </P>
                <button>
                    ПОДРОБНЕЕ
                </button>
            </div>
        </div>
        <div class="bags-product">
            <div class="bags-product__one">
                <img src="img/jpg/backpacks.jpg" alt="рюкзаки PELIKAN">
                <div class="detail-group">
                    <p class="name">
                        РЮКЗАКИ
                    </p>
                    <p class="description">
                        SPRING-SUMMER 2017
                    </p>
                    <button>
                        СМОТРЕТЬ
                    </button>
                </div>
            </div>
            <div class="bags-product__one">
                <img src="img/jpg/bags.jpg" alt="рюкзаки PELIKAN">
                <div class="detail-group">
                    <p class="name">
                        СУМКИ
                    </p>
                    <p class="description">
                        АКСЕССУАРЫ
                    </p>
                    <button>
                        СМОТРЕТЬ
                    </button>
                </div>
            </div>
        </div>
        <div class="bags-description">
            <div class="bags-description__left-bag bg-bag">
            </div>
            <div class="bags-description__right-bag bg-bag">
            </div>
            <div class="bags-description__title">
                <h4>
                    ИЗДЕЛИЯ PELICAN ЭТО
                </h4>
            </div>
            <div class="bags-description__text">
                <div class="text-block">
                    <p class="detail-name">
                        ТКАНЬ CORDURA <span>&#174;</span>
                    </p>
                    <p class="detail-text-first">
                        <strong>
                            Износоустойчевость:
                        </strong>
                        рюкзаки сделаны из ткани
                        Cordura Classic fabric. Made in USA. <br>
                        Срок службы изделий в 4-7 раз выше обычного.
                    </p>
                    <p class="detail-text-second">
                        <strong>
                            Водоустойчивое покрытие:
                        </strong>
                        специальная пропитка
                        ткани позволяет отталкивать воду, что защищает
                        ваши вещи от дождя и мокрого снега.
                    </p>
                </div>
                <div class="text-block">
                    <p class="detail-name">
                        ФУРНИТУРА YKK
                    </p>
                    <p class="detail-text-first">
                        Во всех изделиях используются замки,
                        молнии и другая фурнитура от японской
                        компании YKK, которая считается лучшей
                        в мире. Они самые долговечные и надежные.
                    </p>
                </div>
                <div class="text-block">
                    <p class="detail-name">
                        УСИЛЕННОЕ ДНО И ШВЫ
                    </p>
                    <p class="detail-text-first">
                        Носите рюкзак даже в самых экстремальных ситуациях.
                        Дно рюкзака сделано из сверхпрочной тентовой ткани.
                    </p>
                    <p class="detail-text-second">
                        Вы не сможете оторвать у рюкзака ручку или порвать его
                        по шву так как все швы делаются усиленной полиамидовой
                        нитью.
                    </p>
                </div>
            </div>
            <div class="bags-description__comfort">
                <div class="comfort-title">
                    <span></span>
                    <span>С НАМИ УДОБНО</span>
                    <span></span>
                </div>
                <div class="comfort-group">
                    <div class="some-comfort">
                        <i class="comfort-icon return">30</i>
                        <p>
                            Возврат товара<br> в течении 30 дней
                        </p>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon purse"></i>
                        <p>
                            Любой вид<br>оплаты
                        </p><br>
                        <a href="#">Как оплатить?</a>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon car"></i>
                        <p>
                            Доставка по<br>Украине бесплатно
                        </p><br>
                        <a href="#">Способ доставки</a>
                    </div>
                    <div class="some-comfort">
                        <i class="comfort-icon protect"></i>
                        <p>
                            Гарантия качества всех<br>товаров 3 года
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= template/footer.html


