//= template/head.html
<header>
    <div class="content">
        <div class="container catalog-container">
            <div class="header-top">
                <div class="header-top__logo">
                    <div class="logo">
                        <div class="logo__img">
                            <a href="#"><img src="img/png/logo.png" alt=""></a>
                        </div>
                        <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                            <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                        </div>
                    </div>
                    <div class="logo-description">
                        РЮКЗАКИ И СУМКИ С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    </div>
                </div>
                <div class="header-top__comment">
                    <div class="comment">
                        <div class="comment-img">
                            <img src="img/png/commentator-photo.png" alt="">
                        </div>
                        <div class="comment-text">
                            «Мы их сами производим и носим каждый день, а также постоянно
                            что-то усовершенствуем, улучшаем.<br>
                            Вы будете приятно удивлены высокому качеству, надежности и удобству.
                            Шьем как для себя. Нас выбрали более 560 довольных клиентов».
                            <p>
                                <strong>
                                    Денис, дизайнер, директор
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-nav">
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li class="active"><a href="#">РЮКЗАКИ</a></li>
                        <li><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-mobile">
                    <ul>
                        <li><a href="#">РЮКЗАКИ</a></li>
                        <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-nav-btn">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content lookbook-content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="container lookbook-container">
            <h3>Коллекция SPRING-SUMMER 2017</h3>
            <div class="lookbook-group">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">

                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">

                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
                <img src="img/jpg/feature-1.jpg" alt="">
            </div>
        </div>
    </div>
</main>





//= template/footer.html