//= template/head.html
<header>
    <div class="content">
        <div class="container catalog-container">
            <div class="header-top">
                <div class="header-top__logo">
                    <div class="logo">
                        <div class="logo__img">
                            <a href="#"><img src="img/png/logo.png" alt=""></a>
                        </div>
                        <div class="logo__text">
                    <span>
                        PELICAN
                    </span>
                            <span>
                        FROM SIMPLE TO COMPLEX
                    </span>
                        </div>
                    </div>
                    <div class="logo-description">
                        РЮКЗАКИ И СУМКИ С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    </div>
                </div>
                <div class="header-top__comment">
                    <div class="comment">
                        <div class="comment-img">
                            <img src="img/png/commentator-photo.png" alt="">
                        </div>
                        <div class="comment-text">
                            «Мы их сами производим и носим каждый день, а также постоянно
                            что-то усовершенствуем, улучшаем.<br>
                            Вы будете приятно удивлены высокому качеству, надежности и удобству.
                            Шьем как для себя. Нас выбрали более 560 довольных клиентов».
                            <p>
                                <strong>
                                    Денис, дизайнер, директор
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-nav">
                    <ul>
                        <li><a href="#">ГЛАВНАЯ</a></li>
                        <li class="active"><a href="#">РЮКЗАКИ</a></li>
                        <li><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-mobile">
                    <ul>
                        <li><a href="#">РЮКЗАКИ</a></li>
                        <li class="active"><a href="#">СУМКИ, АКСЕССУАРЫ</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="header-nav-btn">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content product-content catalog-content">
        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="container catalog-container product-container">
            <div class="page-navigation">
                <div class="previous-page">
                    <a href="#"><<< рюкзак SPY</a>
                </div>
                <div class="next-page">
                    <a href="#">рюкзак NINJA >>></a>
                </div>
            </div>
            <div class="product-big">
                <div class="product-big__left-side">
                    <div class="product-name">
                        TOMMY
                    </div>
                    <div class="product-price">
                        1620 грн
                    </div>
                    <div class="product-bigimg">
                        <img src="img/jpg/big-product.jpg" alt="">
                    </div>
                    <div class="product-smallimg">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                        <img src="img/jpg/hipster-3.jpg" alt="">
                    </div>
                </div>
                <div class="product-big__right-side">
                    <div class="product-name">
                        TOMMY
                    </div>
                    <div class="product-price">
                        1620 грн
                    </div>
                    <div class="product-color">
                        <div class="chose-color">Выберете цвет:</div>
                        <div class="color-group">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                            <img src="img/jpg/tommy-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="product-size">
                        <div class="size">
                            <p>РАЗМЕРЫ</p>
                            <p>22 x 33 x 44</p>
                        </div>
                        <div class="amount">
                            <p>ОБЬЕМ</p>
                            <p>24 литра</p>
                        </div>
                    </div>
                    <button>ДОБАВИТЬ В КОРЗИНУ <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                    <div class="product-guarantee">
                        <div class="guarantee-one guarantee_block">
                            <i class="guarantee-car"></i>
                            <p>Доставка по всему СНГ</p>
                        </div>
                        <div class="guarantee-two guarantee_block">
                            <i class="guarantee-return">30</i>
                            <p>Возврат товара в течении 30 дней</p>
                        </div>
                        <div class="guarantee-three guarantee_block">
                            <i class="guarantee-protect"></i>
                            <p>Гарантия качества товара</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature">
                <h4>РЮКЗАК TOMMY</h4>
                <P>СО СПЕЦИАЛЬНЫМ ВОДОНЕПРОНИЦАЕМЫМ КАРМАНОМ</P>
                <div class="feature__group">
                    <div class="feature-block">
                        <img src="img/jpg/feature-1.jpg" alt="">
                        <div class="feature-text">
                            <p>СИСТЕМА ROLL</p>
                            <p>
                                Теперь вы можете менять
                                полезный объем рюкзака
                                под собственные потребности.
                                Теперь вы можете менять
                                полезный объем рюкзака
                                под собственные потребности.
                            </p>
                        </div>
                    </div>
                    <div class="feature-block">
                        <img src="img/jpg/feature-2.jpg" alt="">
                        <div class="feature-text">
                            <p>ВОДОНЕПРОНИЦАЕМЫЙ КАРМАН</p>
                            <p>
                                Даже если вы попадете под сильнейший
                                ливень - ваши ценные вещи остануться
                                полностью сухими.
                                Специальная тентовая ткань и
                                водонепроницаемая молния защитят
                                ваши вещи от воды.
                            </p>
                        </div>
                    </div>
                    <div class="feature-block">
                        <img src="img/jpg/feature-4.jpg" alt="">
                        <div class="feature-text">
                            <p>ОТДЕЛЕНИЕ ДЛЯ ОБУВИ</p>
                            <p>
                                Незаменимое рещение для тех
                                кто постоянно носит обувь.
                                под собственные потребности.
                                Теперь вы можете менять
                                полезный объем рюкзака
                                под собственные потребности.
                            </p>
                        </div>
                    </div>
                    <div class="feature-block">
                        <img src="img/jpg/feature-3.jpg" alt="">
                        <div class="feature-text">
                            <p>ВСТРОЕННЫЙ КАРМАН</p>
                            <p>
                                такой карман не виден сильнейший
                                ливень - ваши ценные вещи остануться
                                полностью сухими.
                                Производство и потенциал и
                                водонепроницаемая молния защитят
                                ваши вещи от воды.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="what-else">
                <div class="what-else__marker">
                    <p>ЧТО ЕЩЕ</p>
                    <ul>
                        <li>Мягкая спинка</li>
                        <li>Держатель для ключей</li>
                        <li>Застежка с технологией "w -arm" выдерживает сильную нагрузку на разрыв</li>
                        <li>
                            Пряжки 3-х щелевые с технологией Locwave Adjuster™
                            предотвращает проскальзывание стропы
                        </li>
                        <li>
                            Дно дополнительно усилено износостойким и
                            водонепроницаемым полимерным материалом,
                            который не боится грязи и легко моется.
                        </li>
                        <li>Боковой карман</li>
                        <li>Молния в основное отделение для быстрого доступа</li>
                        <li>Мягкие анатомические лямки с системой AIR-MASH</li>
                        <li>Усиленные стропой лямки</li>
                        <li>Объемный внешний карман</li>
                        <li>Высокий внутренний карман на молнии</li>
                        <li>Мягкое отделение для Laptop 15"</li>
                        <li>Два кармана для гаджетов</li>
                    </ul>
                </div>
                <div class="what-else__img">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                    <img src="img/jpg/feature-4.jpg" alt="">
                </div>
            </div>
            <div class="video-review">
                <div class="video-review__video">
                    <iframe src="https://www.youtube.com/embed/Em0GXZcDEDk" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="video-review__text">
                    <p>TOMMY - ВИДЕООБЗОР</p>
                    <p>
                        Новый тренд уличной моды. Вместительный рюкзак для полезных
                        мелочей и скейтерских аксессуаров. Инновационный материал
                        adidas Primeknit создает оригинальный урбанистический образ.
                    </p>
                    <p>
                        Прочные плетеные ремни можно использовать для крепления
                        скейтборда или куртки. Водонепроницаемые молнии на карманах
                        в современном городском стиле.
                    </p>
                </div>
            </div>
            <div class="commentary-group">
                <div class="commentary-group__title">
                    <p>
                        Отзывы покупателей
                        <span>49</span>
                    </p>
                    <p>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="commentary-group__body">
                    <div class="one-commentary">
                        <div class="name-rate-date">
                            <div class="name-rate">
                                <span>Нина Унгуряну</span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="date-link">
                                <span>сегодня</span>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="all-comment">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic ipsa labore minus quas
                            quisquam repellendus vel. Animi doloribus ducimus eius eum id molestias nisi, quisquam quo
                            reprehenderit sapiente vel!
                        </div>
                        <div class="reply-like">
                            <div class="reply-answer">
                                <div class="reply">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <a href="">Ответить</a>
                                </div>
                                <div class="answer">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <a href="">1 ответ</a>
                                </div>
                            </div>
                            <div class="like">
                                <div class="thumbs-block">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!--
                                    --><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </div>
                                <div class="del">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-commentary">
                        <div class="name-rate-date">
                            <div class="name-rate">
                                <span>Нина Унгуряну</span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="date-link">
                                <span>21 марта 2019</span>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="all-comment">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic ipsa labore minus quas
                            quisquam repellendus vel. Animi doloribus ducimus eius eum id molestias nisi, quisquam quo
                            reprehenderit sapiente vel!
                        </div>
                        <div class="reply-like">
                            <div class="reply-answer">
                                <div class="reply">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <a href="">Ответить</a>
                                </div>
                                <div class="answer">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <a href="">1 ответ</a>
                                </div>
                            </div>
                            <div class="like">
                                <div class="thumbs-block">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!--
                                    --><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </div>
                                <div class="del">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-commentary">
                        <div class="name-rate-date">
                            <div class="name-rate">
                                <span>Нина Унгуряну</span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="date-link">
                                <span>сегодня</span>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="all-comment">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic ipsa labore minus quas
                            quisquam repellendus vel. Animi doloribus ducimus eius eum id molestias nisi, quisquam quo
                            reprehenderit sapiente vel!
                        </div>
                        <div class="reply-like">
                            <div class="reply-answer">
                                <div class="reply">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <a href="">Ответить</a>
                                </div>
                                <div class="answer">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <a href="">1 ответ</a>
                                </div>
                            </div>
                            <div class="like">
                                <div class="thumbs-block">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!--
                                    --><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </div>
                                <div class="del">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-commentary">
                        <div class="name-rate-date">
                            <div class="name-rate">
                                <span>Нина Унгуряну</span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="date-link">
                                <span>сегодня</span>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="all-comment">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic ipsa labore minus quas
                            quisquam repellendus vel. Animi doloribus ducimus eius eum id molestias nisi, quisquam quo
                            reprehenderit sapiente vel!
                        </div>
                        <div class="reply-like">
                            <div class="reply-answer">
                                <div class="reply">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <a href="">Ответить</a>
                                </div>
                                <div class="answer">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <a href="">1 ответ</a>
                                </div>
                            </div>
                            <div class="like">
                                <div class="thumbs-block">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!--
                                    --><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </div>
                                <div class="del">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-commentary">
                        <div class="name-rate-date">
                            <div class="name-rate">
                                <span>Нина Унгуряну</span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="date-link">
                                <span>сегодня</span>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="all-comment">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic ipsa labore minus quas
                            quisquam repellendus vel. Animi doloribus ducimus eius eum id molestias nisi, quisquam quo
                            reprehenderit sapiente vel!
                        </div>
                        <div class="reply-like">
                            <div class="reply-answer">
                                <div class="reply">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <a href="">Ответить</a>
                                </div>
                                <div class="answer">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <a href="">1 ответ</a>
                                </div>
                            </div>
                            <div class="like">
                                <div class="thumbs-block">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!--
                                    --><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </div>
                                <div class="del">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





//= template/footer.html